# Node modules
**/node_modules/

# Ambiente
**/.env

# Build outputs
dist/
build/

# Logs
*.log

# IDEs
.vscode/
.idea/

# Outros
.DS_Store

# back-end
server/backend/.env

# front-end
client/frontend/.env